</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
            <p class="footer-title">O Nás</p>
            <ul>
                <li>
                    <a href="/pages/about-us">O našem E-shopu</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Kontakt</a>
                </li>
                <li>
                    <a href="/pages/shipping-policy">Obchodní podmínky</a>
                </li>
                <li>
                    <a href="/pages/careers">Kariéra</a>
                </li>
            </ul>  
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <a href="https://facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </a>
          
          <a id="profile-link" target="_blank" href="https://instagram.com/">
           <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
          
         <a href="https://twitter.com/" target="_blank">
           <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
          </a>
        
    </div>
      
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto">
      Copyright &copy <script type="text/javascript"> document.write(new Date().getFullYear());</script> zijstastne. All rights reserved.
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
