<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Kariéra</h1>
      <h3>Neustále hledáme pracovníky.</h3>
      <p>Pokud máte zájem o spolupráci s námi, zašlete svůj životopis na následující e-mail a my se vám ozveme. hr@email.com <br />
        <a href="mailto:hr@email.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <u>hr@email.com</u>
        </a>
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
